.getAttacked {
    animation: getAttacked 0.2667s linear;
}

.enemyAttack {
    animation: enemyAttack .5s linear;
}

@keyframes getAttacked {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enemyAttack {
    0% {
        top: 20%;
        left: -25%;
    }

    50% {
        top: 40%;
        left: -140%;
        transform: rotateZ(-45deg);
    }

    100% {
        top: 20%;
        left: -25%;
    }
}