@use './base/variables'; 

.battle-log {
    background-color: variables.$primaryColor;
    width: 505px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &--visible {
        display: flex;
    }

    &__container {
        width: 481px;
        min-height: 87px;
        max-height: 100%;
        border: 1px solid variables.$primaryTextColor;
        border-radius: 4px;
        margin: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding: 8px;
    }

    &__title {
        font-size: 24px;
        color: variables.$primaryTextColor;
        background-color: variables.$primaryColor;
        margin-top: -16px;
        width: 116px;
        text-align: center;
        position: absolute;
        top: 0;
    }

    &__item {
        background-color: variables.$secondaryColor;
        width: 463px;
        height: 56px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 6px;

        &--reverse {
            flex-direction: row-reverse;
        }
    }

    &__skill-container {
        background-color: variables.$tertiaryColor;
        width: 232px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border-radius: 4px;

        &--reverse {
            background-color: variables.$cpuBackgroundColor;
            flex-direction: row-reverse;
        }
    }

    &__skill {
        font-size: 14px;
        color: variables.$primaryTextColor;
    }
    
    &__icon {
        height: 56px;
        width: 58px;
    }

    &__damage {
        color: variables.$primaryTextColor;
    }
}