@use './base/variables'; 

.menu {
    &__button {
        font-size: 20px;
        width: 360px;
        height: 60px;
        background-color: variables.$activeTransparentColor;
        border: 1px solid variables.$activeTransparentBorderColor;
        color: variables.$primaryTextColor;
    }
}

.form {

    &__button {
        width: 360px;
        height: 60px;
        background-color: transparent;
        border: 1px solid variables.$activeTransparentBorderColor;
        border-radius: 5px;
        font-size: 24px;
        color: variables.$primaryTextColor;
    }
}

.battle-menu {

    &__button {
        background-color: transparent;
        border: 1px solid transparent;
        color: variables.$primaryTextColor;
        font-size: 16px;
        line-height: 21px;
        width: 167px;
        height: 24px;
        border-radius: 4px;

        &:hover {
            background-color: variables.$activeTransparentColor;
            border: 1px solid variables.$activeTransparentBorderColor;
        }

        &--active {
            background-color: variables.$activeTransparentColor;
            border: 1px solid variables.$activeTransparentBorderColor;
        }
    }

}

.results-screen {

    &__container {

        &__content {

            &__button {
                width: 234px;
                height: 43px;
                font-size: 24px;
                background-color: variables.$activeTransparentColor;
                border: 1px solid variables.$activeTransparentBorderColor;
                color: variables.$primaryTextColor;
                border-radius: 4px;
            }
        }
    }
}

.map {

    &__button {
        width: 167px;
        height: 24px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        color: variables.$primaryTextColor;
        font-size: 18px;

        &--active {
            background-color: variables.$activeTransparentColor;
            border: 1px solid variables.$activeTransparentBorderColor;
        }
    }
    
}