$primaryTransparentColor: rgba(0, 0, 0, 0.7);
$primaryColor: #000;
$primaryTextColor: #fff; 

$activeTransparentColor: rgba(55, 55, 55, 0.8);
$activeTransparentBorderColor: rgba(255, 255, 255, 0.6);

$hpBarEmptyBackgroundColor: #D9D9D9;
$hpBarFullBackgroundColor: #15FF00;

$playerColor: #008CFF;
$enemyColor: #FF0000;

$damageIndicatorColor: #FF0004;