@use 'variables'; 
@use 'results-screen';

* {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.battle-hud {
    height: 134px;
    width: 100%;
    background-color: variables.$primaryTransparentColor;
    border: solid 5px variables.$primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &__display {
        color: variables.$primaryTextColor;
        font-size: 32px;
        line-height: 38px;
        margin-left: -20px;
        transition: .5s;
    }

    &__timer {
        color: variables.$primaryTextColor;
        font-size: 32px;
        line-height: 38px;
        position: absolute;
        top: 158px;
        left: 24px;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 249.77px;
        margin-left: -20px;
        transition: 1s;
    
        &__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 22px;
            font-size: 16px;
            line-height: 14px;
            color: variables.$primaryTextColor;
        }

        &__hpbar {
            width: 249.77px;
            height: 8px;
            background-color: variables.$hpBarEmptyBackgroundColor;

            &-is--full {
                background-color: variables.$hpBarFullBackgroundColor;
            }
        }
        
    }
}


.battle-stage {
    margin: 0 auto;
    background-image: url('https://servidor-estatico-alpha-six.vercel.app/turn-based-game-background.jpg');
    background-size: cover;
    width: 1366px;
    height: 768px;
    position: relative;

    &__ally {
        background-color: variables.$allyColor;
        width: 187px;
        height: 180px;
        position: absolute;
        top: 495px;
        left: 122px;
        transition: .5s;

        &__damage-indicator {
            color: variables.$primaryTextColor;
            font-size: 32px;
            position: absolute;
            bottom: 1;
            right: 0;
            opacity: 0;
            transition: .5s;
        }
    }

    &__enemy {
        background-color: variables.$enemyColor;
        width: 140px;
        height: 176px;
        position: absolute;
        top: 332px;
        left: 593px;
        opacity: 1;
        transition: .5s;
        display: flex;
        justify-content: center;

        &__damage-indicator {
            color: variables.$primaryTextColor;
            font-size: 32px;
            position: absolute;
            bottom: 20%;
            opacity: 0;
            transition: .5s;
        }
    }
}

.battle-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    &__options {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px;
        align-items: center;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        width: 213px;
        height: 134px;

        &__button {
            background-color: transparent;
            border: 1px solid transparent;
            color: variables.$primaryTextColor;
            font-size: 16px;
            line-height: 21px;
            width: 167px;
            height: 24px;
            border-radius: 4px;

            &-is--active {
                background-color: variables.$activeTransparentColor;
                border: 1px solid variables.$activeTransparentBorderColor;
            }
        }
    }

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        height: 134px;
        width: 648px;
        padding: 16px;

        &__allys {
            color: variables.$primaryTextColor;
            background-color: variables.$activeTransparentColor;
            border: 1px solid variables.$activeTransparentBorderColor;
            display: none;
            justify-content: space-between;
            padding: 4px;
            border-radius: 4px;
            width: 600px;
            height: 36px;

            &-is--visible {
                display: flex;
            }

            &__name {
                margin: 4px;
                font-size: 18px;
                line-height: 21px;
            }

            &__status {

                &__container {
                    display: flex;
                    justify-content: space-between;
                    width: 115px;
                    height: 22px;
                    font-size: 12px;
                    line-height: 14px;
                }

                &__hpbar {
                    margin-top: -6px;
                    width: 114px;
                    height: 8px;
                    background-color: variables.$hpBarEmptyBackgroundColor;

                    &-is--full {
                        background-color: variables.$hpBarFullBackgroundColor;
                    }
                }
            }
        }

        &__skills {
            height: 100%;
            display: none;
            flex-direction: column;
            justify-content: space-between;
        
            &-is--visible {
                display: flex;
            }

            &__container {
                width: 240px;
                height: 36px;
                display: flex;
                justify-content: space-between;
                padding: 8px;
                border-radius: 4px;
                background-color: transparent;
                border: 1px solid transparent;

                &:hover {
                    background-color: variables.$activeTransparentColor;
                    border: 1px solid variables.$activeTransparentBorderColor;
                }
            }

            &__main{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__icon {
                margin-right: 8px;
            }

            &__name{
                color: variables.$primaryTextColor;
            }

            &__damage{
                color: variables.$damageIndicatorColor;
            }
        }
    }
}

.battle-log {
    background-color: variables.$primaryColor;
    width: 505px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    &-is--visible {
        display: flex;
    }
}

.itens {
    position: absolute;
    top: 334px;
    left: 213px;
    height: 300px;
    width: 648px;
    display: none;

    &-is--visible {
        display: block;
    }

    &__header {
        height: 62px;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        display: flex;
        padding: 16px 24px;

        &__tab {
            color: variables.$primaryTextColor;
            border: 1px solid transparent;
            font-size: 18px;
            width: 200px;
            height: 24px;
            text-align: center;

            &-is--active {
                background-color: variables.$activeTransparentColor;
                border: 1px solid variables.$activeTransparentBorderColor;
                border-radius: 4px;
            }
        }
    }

    &__body {
        height: 238px;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        padding: 16px;
        display: flex;
        justify-content: space-between;


        &__list {
            width: 264px;

            &__item {
                width: 243px;
                display: flex;
                justify-content: space-between;
                border: 1px solid transparent;

                &:hover {
                    background-color: variables.$activeTransparentColor;
                    border: 1px solid variables.$activeTransparentBorderColor;
                    border-radius: 4px;
                    cursor: pointer;
                }

                &-is--selected {
                    background-color: variables.$activeTransparentColor;
                    border: 1px solid variables.$activeTransparentBorderColor;
                    border-radius: 4px;
                }

                &-is--hidden {
                    display: none;
                }

                &__main {
                    display: flex;
                    align-items: center;

                    &__icon {
                        width: 20px;
                        height: 20px;
                        border: 1px solid variables.$activeTransparentBorderColor;
                        border-radius: 2px;
                        margin: 8px;
                    }

                    &__name {
                        color: variables.$primaryTextColor;
                        font-size: 16px;
                    }


                }

                &__number {
                    color: variables.$primaryTextColor;
                    font-size: 16px;
                    margin: 8px;
                }
            }
        }
    }
}