@use './base/variables'; 
@use './components/results-screen';
@use './components/skill-display';
@use './components/animations';
@use './components//battle-log';
@use './components/itens';
@use './base/global';
@use './components/buttons';

.upper-bar {
    height: 134px;
    width: 100%;
    background-color: variables.$primaryTransparentColor;
    border: solid 5px variables.$primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        &--hidden {
            display: none;
        }
    }

    &--skill {
        height: 70px;
        margin-top: 32px;
        background-color: variables.$secondaryTransparentColor;
        border: 5px solid variables.$secondaryTransparentColor;
    }

    &--ally {
        border: 5px solid variables.$allyColor;
    }

    &--enemy {
        border: 5px solid variables.$enemyColor;
    }

    &__enemy-name {
        color: variables.$primaryTextColor;
        font-size: 32px;
        line-height: 38px;
        transition: .5s;
        text-align: center;
    }

    &__timer {
        color: variables.$primaryColor;
        font-size: 32px;
        line-height: 38px;
        position: absolute;
        top: 158px;
        left: 24px;
    }

    &__enemy-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 249.77px;
        transition: 1s;
    
        &-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 22px;
            font-size: 16px;
            line-height: 14px;
            color: variables.$primaryTextColor;
        }
    }

    &__hpbar {
        width: 249.77px;
        height: 8px;
        background-color: variables.$hpBarEmptyBackgroundColor;

        &--full {
            background-color: variables.$hpBarFullBackgroundColor;
        }
    }
}


.battle-stage {
    margin: 0 auto;
    width: 861px;
    height: 768px;
    position: relative;

    &__container {
        background-image: url('https://servidor-estatico-alpha-six.vercel.app/game-background-image.png');
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &__ally {
        width: 171.5px;
        height: 200px;
        position: absolute; 
        transition: .5s;

        &:first-child {
            background-image: url('https://servidor-estatico-alpha-six.vercel.app/protagonist.png');
            background-size: contain;
            background-repeat: no-repeat;
            top: 367px;
            left: 107px;
        }

        &:nth-child(2) {
            background-image: url('https://servidor-estatico-alpha-six.vercel.app/protagonist.png');
            background-size: contain;
            background-repeat: no-repeat;
            top: 434px;
            left: 297px;
        }

        &__weapon {
            position: absolute;
            top: 20%;
            right: -25%;
            transform: rotateY(180deg)
        }

        &__damage-indicator {
            font-size: 32px;
            position: absolute;
            opacity: 0;
            transition: .5s;

            &:first-child {
                color: variables.$primaryColor;
                bottom: 1;
                left: 0;
            }

            // &:nth-child(2) {

            // }
        }
    }

    &__enemy {
        background-image: url('https://servidor-estatico-alpha-six.vercel.app/exiled_sprite_combat.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 171.5px;
        height: 200px;
        position: absolute;
        top: 284px; 
        left: 489px;
        opacity: 1;
        transition: .5s;
        display: flex;
        justify-content: center;

        &__weapon {
            position: absolute;
            top: 20%;
            left: -25%;
        }

        &__damage-indicator {
            color: variables.$primaryTextColor;
            font-size: 32px;
            position: absolute;
            bottom: 20%;
            opacity: 0;
            transition: .5s;
        }
    }
}

.battle-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    &__options {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px;
        align-items: center;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        width: 213px;
        height: 134px;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: variables.$primaryTransparentColor;
        border: solid 5px variables.$primaryColor;
        height: 134px;
        width: 648px;
        padding: 16px;

        &__allys {
            color: variables.$primaryTextColor;
            background-color: variables.$activeTransparentColor;
            border: 1px solid variables.$activeTransparentBorderColor;
            display: none;
            justify-content: space-between;
            padding: 4px;
            border-radius: 4px;
            width: 600px;
            height: 36px;

            &__container {
                display: flex;
                flex-direction: row-reverse;
                gap: 4px;
            }

            &__effect-icon {
                border-radius: 2px;
                border: 1px solid variables.$primaryTextColor;
            }

            &--visible {
                display: flex;
            }

            &__name {
                margin: 4px;
                font-size: 18px;
                line-height: 21px;
            }

            &__status {

                &__container {
                    display: flex;
                    justify-content: space-between;
                    width: 115px;
                    height: 22px;
                    font-size: 12px;
                    line-height: 14px;
                }

                &__hpbar {
                    margin-top: -6px;
                    width: 114px;
                    height: 8px;
                    background-color: variables.$hpBarEmptyBackgroundColor;

                    &--full {
                        background-color: variables.$hpBarFullBackgroundColor;
                    }
                }
            }
        }

        &__skills {
            height: 100%;
            display: none;
            flex-direction: column;
            justify-content: space-between;
        
            &--visible {
                display: flex;
            }

            &__container {
                width: 240px;
                height: 36px;
                display: flex;
                justify-content: space-between;
                padding: 8px;
                border-radius: 4px;
                background-color: transparent;
                border: 1px solid transparent;

                &--active {
                    background-color: variables.$activeTransparentColor;
                    border: 1px solid variables.$activeTransparentBorderColor;
                }

                &:hover {
                    background-color: variables.$activeTransparentColor;
                    border: 1px solid variables.$activeTransparentBorderColor;
                }
            }

            &__main{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__icon {
                margin-right: 8px;
            }

            &__name{
                color: variables.$primaryTextColor;
            }

            &__damage{
                color: variables.$damageTextColor;
            }
        }
    }
}

