@use 'variables';

* {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 861px;
    height: 768px;
    background-color: variables.$primaryTransparentColor;
    border: 5px solid variables.$primaryColor;
    position: relative;

    &--battle {
        background-color: transparent;
        border: none;
    }
}