$primaryTransparentColor: rgba(0, 0, 0, 0.7);
$secondaryTransparentColor: rgba(0, 0, 0, 0.1);
$primaryColor: #000;
$primaryTextColor: #fff; 
$secondaryColor: #1D1D1D;
$tertiaryColor: #777777;
$formColor: #373737;

$activeTransparentColor: rgba(55, 55, 55, 0.8);
$activeTransparentBorderColor: rgba(255, 255, 255, 0.6);

$hpBarEmptyBackgroundColor: #D9D9D9;
$hpBarFullBackgroundColor: #15FF00;

$allyColor: #008CFF;
$enemyColor: #FF0000;
$cpuBackgroundColor: #343434;

$damageTextColor: #FF0004;

$victoryThemeTextColor: #0DFF00;
